.box-emoji-li {
  font-size: 1rem;
  line-height: 1.5;
  cursor: default;
}

.box-emoji-span {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  font: aria-label= "cheese";
  image-rendering: role= "img";
}
